{% extends 'basic.html' %}
{% load static %}


{% block content %}
<!-- Import CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">

<!-- Import JS -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<!-- Slick SlideShow Code -->
<div class="slider">
  {% for p in poster_image %}
    <div>
      <img src="{{ p.image.url }}" alt="{{ p.details }}">
    </div>
  {% endfor %}
</div>

<script>
  $(document).ready(function(){
    $('.slider').slick({
      dots: true,
      autoplay: true,
      autoplaySpeed: 2000, // Change this value to set duration between slides
      arrows: false,
      infinite: true,
      speed: 300,
      slidesToShow: 1,
      adaptiveHeight: true
    });
  });
</script>

    <section class="count1">
        <div>
            <h1>إحصائيات</h1>
            <span>2021</span>
        </div>

    </section>
    <section class="count">

        <div class="count2">
            <i class="fa-solid fa-people-roof"></i>
            <h2>{{number_of_achivments.FamilyAidNumber}}</h2>
            <label>مساعدات الأسر</label>

        </div>
        <div class="count3">
            <i class="fa-solid fa-hands-holding-child"></i>
            <h2>400</h2>
            <label>منح المشاريع</label>

        </div>
        <div class="count4">
            <i class="fa-solid fa-building-columns"></i>
            <h2>5200</h2>
            <label>مستفيدي التعليم غير الرسمي</label>

        </div>
        <div class="count5">
            <i class="fa-solid fa-building-shield"></i>
            <h2>200</h2>
            <label>مشاريع منزلية انتاجية </label>

        </div>
    </section>

    <section class="part3">
        <a href="">
            <div id="part3-1">
                <i class="fa-solid fa-user"></i>
                <label>تطوع معنا</label>
            </div>
        </a>
        <a href="{% url 'inkinddonation' %}">
            <div id="part3-2">
                <i class="fa-solid fa-hand-holding-heart"></i>
                <label>تبرعات عينية</label>

            </div>
        </a>
        <a href="{% url 'idea' %}">
            <div id="part3-3">
                <i class="fa-solid fa-lightbulb"></i>
                <label>شاركنا بفكرتك</label>

            </div>
        </a>
        <a href="{% url 'cashdonation' %}">
            <div id="part3-4">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <label>دينار الخير</label>

            </div>
        </a>

    </section>
    <hr>
    <section id="projects-label">
        <div>
            <label>المشاريع الفعالة </label>
        </div>

    </section>
    <section id="projects">
            {% for i in active_projects|slice:':3' %}
        <section >
            <div id="project2img">
            <a href="{% url 'project_detail' i.pk %}">
                <img src="{{ i.Image.url }}"
                    alt="{{ i.Name }}">
                <p>{{ i.Name }}</p>
            </a>
        </div>
            
        </section>
        {% endfor %}
    </section>

    <div id="newslabel">
        <label>آخر الأخبار</label>
    </div>
    
    <section id="news">
        {% for n in news|slice:':3' %}
        <div id="news1">
            <a href="{% url 'news_detail' n.pk %}">
                <img src="{{ n.Image.url }}"
                    alt="{{ n.Title }}">
                <p>{{ n.Title}}</p>
            </a>
        </div>
        {% endfor %}

        </div>

    </section>

    

{% endblock %}  
{% block scripts %}
<!-- Import Swiper JS -->
<script src="/home/freewan/zahralrummanwebsite/zahr_alurumman/static/css/java.js"></script>

</script>
{% endblock %}  